body{
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}
.logo-accent{
    color:#2e2f42;
}
.nav{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42
}
.nav:hover,
.nav:focus{
    color:#404bbf;
}
.contact{font-style: normal;}
.contact-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.contact-info:hover{color: #404bbf;}
.contact-info:focus{color: #404bbf;}
.section-one{
    background-color: #2E2F42;
}
.title-one{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.02em;

}
.title-button{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5
}
.title-button:hover,
.title-button:focus{
    background-color: #404BBF;
}
.about{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.about-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team{
    background-color: #F4F4FD;
}
.team-text{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.about-team{
    background-color: #FFFFFF;
}

.info-member{
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}